.box {
  padding: 12px;
  background-color: var(--color-bg-surface);
  border-radius: 24px;
}

.header {
  text-align: start;
  font-size: 26px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 16px;
}
