.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-elevated);
  border-radius: 24px;
  aspect-ratio: 1 / 1;
  text-align: center;
  cursor: pointer;
}

.icon {
  width: 60%;
  height: 60%;
  object-fit: contain;
}
