button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px 12px 18px;
  border-radius: 32px;
  font-size: 16px;
  background: none;
  border-color: var(--color-border-strong);
  border-width: 1px;
  color: var(--color-text-primary);
  box-shadow: inset 15px 15px 20px rgba(214, 211, 231, 0.1);
  inset: -5px -5px 10px rgba(222, 222, 222, 0.5),
    10px 15px 20px rgba(0, 0, 0, 0.05);
}

.iconButton {
  padding: 10px !important;
}

.icon {
  height: 24px;
  object-fit: contain;
}
