.box {
  padding: 16px;
  background-color: var(--color-bg-elevated);
  border-radius: 24px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.1s ease;
}

.box:active {
  background-color: var(--color-bg-highlight);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.textColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
  height: 100%;
  gap: 16px;
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.iconWrapper img {
  width: 52px;
  height: 52px;
  object-fit: contain;
}
