.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.row:active {
  background-color: var(--color-bg-highlight);
}

.title {
  font-size: 16px;
  color: var(--color-text-primary);
}

.text {
  font-size: 16px;
  color: var(--color-text-tertiary);
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  text-align: right;
  font-size: 16px;
  color: var(--color-text-tertiary);
}

.input::placeholder {
  color: var(--color-text-disabled);
}
