.toggleSwitch {
  height: 30px;
  width: 55px;
  display: inline-block;
  background-color: var(--color-bg-highlight);
  border-radius: 30px;
  cursor: pointer;
  border: solid 1px #d2d6de;
  transition: all 0.2s ease-in;
  position: relative;
}

.toggleKnob {
  width: 26px;
  height: 26px;
  display: inline-block;
  background-color: var(--color-text-primary);
  border: solid 1px rgba(126, 126, 126, 0.07);
  box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26);
  border-radius: 26px;
  margin: 1px;
  transition: all 0.2s ease-in;
}

.active {
  background-color: var(--color-accent-primary);
  border: solid 1px transparent;
}

.active .toggleKnob {
  transform: translateX(25px);
}
