.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background-color: var(--color-bg-dark);
  padding: 40px;
  border-radius: 16px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px var(--color-shadow);
}

.auth-form {
  display: flex;
  width: 100%;
}

.input-wrapper {
  position: relative;
  flex: 1;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  filter: invert(1);
  pointer-events: none;
}

.auth-input {
  flex: 1;
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: none;
  border-radius: var(--radius) 0 0 var(--radius);
  color: var(--color-text);
  background-color: var(--color-bg-input);
  font-size: 16px;
  outline: none;
}

.auth-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-input);
  color: inherit;
  border: none;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.auth-submit-icon {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.auth-submit-btn:hover {
  background: linear-gradient(
    90deg,
    var(--color-bg-input),
    var(--color-accent)
  );
}

.auth-error {
  margin-top: 16px;
  color: var(--color-error);
}
