.page {
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 16px;
  color: var(--color-text-primary);
  padding-top: calc(44px + 5px);
  margin-top: -44px; /* Pulls content under the navbar */
}

.content {
  flex: 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
