.page {
  display: flex;
  flex-direction: column;
  padding: 58px 18px 0 18px;
  color: var(--color-text);
}

.content {
  flex: 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
