.buttons {
  position: fixed;
  left: 0;
  right: 0;
  background: none;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 1000;
}

.title {
  padding-top: 58px;
  padding-bottom: 16px;
}

.headerWrapper {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 16px;
  z-index: 1000;
  color: var(--color-text);
  background: none;
}

.side {
  width: 44px;
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  text-align: center;
}
